@model API.DTOs.PaymentDetails.EmployeesPayrollDto

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutDashboard";
}

<div class="flex px-16 gap-10 py-5 max-h-screen">
    <!-- Side Bar -->
    <section class="w-1/5 bg-gradient-to-r from-third to-secondary rounded-2xl text-white" id="sidebar">
        <img src="~/img/logo.png" alt="" class="px-5 pt-5" />
        <div class="border-b-2 border-primary border-dashed w-full mb-4"></div>
        <!-- Dashboard -->
        <div class="px-10 text-xl my-2">
            <a href="dashboard" class="flex gap-5">
                <i class="fa-regular fa-calendar-check"></i>
                <p>Dashboard</p>
            </a>
        </div>
        <!-- Request Overtime -->
        <div class="px-10 text-xl my-2">
            <a href="RequestOvertime" class="flex gap-5">
                <i class="fa-regular fa-rectangle-list"></i>
                <p>Overtime</p>
            </a>
        </div>
        <!-- Payroll -->
        <div class="px-10 text-xl my-2">
            <a href="payroll" class="flex gap-5">
                <i class="fa-regular fa-rectangle-list"></i>
                <p>Payroll</p>
            </a>
            <div class="border-b-2 border-primary w-full mb-4"></div>
        </div>
        <!-- Employee -->
        <div class="px-10 text-xl my-2">
            <a href="employees" class="flex gap-5">
                <i class="fa-solid fa-users"></i>
                <p>Employees</p>
            </a>
        </div>
        <!-- Logout -->
        <div class="px-10 text-xl my-2">
            <a href="/Logout" class="flex items-center gap-5">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <p>Logout</p>
            </a>
        </div>
    </section>
    <!-- Header and Content -->
    <section class="w-4/5 backdrop-blur-md text-third px-10 relative rounded-2xl" id="payrollList">
        <!-- Header -->
        <div class="">
            <div class="flex flex-wrap justify-between items-center mb-5">
                <h1 class="text-3xl font-bold">Payroll Detail</h1>
                <div class="flex gap-5 items-center">
                    <a href="" class="bg-third px-5 py-2 rounded-lg shadow-md text-white shadow-slate-600 hover:bg-secondary hover:shadow-none">History Overtime</a>
                    <a href=""><i class="fa-regular fa-bell text-2xl"></i></a>
                    <div class="w-14 h-1/4rounded-full">
                        <img src="~/img/profile.png" alt="" class="" />
                    </div>
                </div>
                <div class="border-b-2 border-slate-700 border-dashed w-full"></div>
            </div>
        </div>

        <!-- Content -->
        <div class="border-2 border-slate-500 rounded-lg p-5 relative">
            <table id="payrollTable" class="display" style="width: 100%">
                <tbody>
                    <tr height="35">
                        <td class="text-left font-bold" width="20%">NIK</td>
                        <td id="nik" class="text-left">: @Html.DisplayFor(model => model.Nik)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Name</td>
                        <td id="fullName" class="text-left">: @Html.DisplayFor(model => model.FullName)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Gender</td>
                        <td id="gender" class="text-left">: @Html.DisplayFor(model => model.Gender)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Email</td>
                        <td id="email" class="text-left">: @Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Phone Number</td>
                        <td id="phoneNumber" class="text-left">: @Html.DisplayFor(model => model.PhoneNumber)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Salary</td>
                        <td id="salary" class="text-left">: @Html.DisplayFor(model => model.Salary)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Manager Name</td>
                        <td id="managerFullName" class="text-left">: @Html.DisplayFor(model => model.ManagerFullName)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Overtime Date</td>
                        <td id="overtimeDate" class="text-left">: @Html.DisplayFor(model => model.OvertimeDate)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Duration</td>
                        <td id="duration" class="text-left">: @Html.DisplayFor(model => model.Duration)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Type of Day</td>
                        <td id="typeOfDay" class="text-left">: @Html.DisplayFor(model => model.TypeOfDay)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Overtime Pay</td>
                        <td id="totalPay" class="text-left">: @Html.DisplayFor(model => model.TotalPay)</td>
                    </tr>
                    <tr height="35">
                        <td class="text-left font-bold">Status</td>
                        @if (Model.PaymentStatus == "Paid")
                        {
                            <td id="paymentStatus" class="text-left">: <span class="bg-green-100 text-green-800 text-sm font-bold mr-2 px-2.5 py-1 rounded-full dark:bg-green-900 dark:text-green-300">@Html.DisplayFor(model => model.PaymentStatus)</span></td>
                        }
                        else if (Model.PaymentStatus == "Unpaid")
                        {
                            <td id="paymentStatus" class="text-left">: <span class="bg-red-100 text-red-800 text-sm font-bold mr-2 px-2.5 py-1 rounded-full dark:bg-red-900 dark:text-red-300">@Html.DisplayFor(model => model.PaymentStatus)</span></td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
@section CssSection{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/payrollDetail.js" asp-append-version="true"></script>
}